* {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

/* Banner portion */

.banner-info {
  background: rgba(11, 2, 27, 0.384);
  height: 600px;
}
.banner {
  background-image: url(resources/Banner\ Image.png);
  margin: 0px 300px;
  border-radius: 16px;
  background-repeat: no-repeat;
}
.banner-line1 {
  font-weight: 400;
  font-size: 32px;
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 150px;
}
.banner-line2 {
  font-weight: 900;
  font-size: 60px;
  color: rgb(255, 255, 255);
  text-align: center;
}

/* 65% portion */
.all-categories {
  text-align: center;
  padding: 50px;
}
.discount {
  color: rgb(255, 0, 0);
  font-size: 70px;
  font-weight: 700;
}

/* Party portion */

.party-container {
  background-image: url(resources/Vectorrr.png);
  background-repeat: no-repeat;
  margin: 0px 300px;
  border-radius: 16px;
  display: flex;
  justify-content: space-around;
  height: 600px;
  align-items: center;
  margin-top: 120px;
}
.title-1 {
  font-weight: 700;
  font-size: 54px;
  color: rgb(255, 255, 255);
}
.title-description {
  font-weight: 400;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
}

/* location portion */

.location-details {
  background: rgb(233, 162, 185);
  margin: 100px 300px;
  justify-content: center;
  text-align: center;
  padding: 100px;
  border-radius: 15px;
}
.position {
  color: rgb(255, 0, 0);
  font-weight: 600;
  font-size: 25px;
}
.btn-position {
  background-color: rgb(255, 0, 0);
  color: aliceblue;
  border-radius: 5px;
  border: 0;
  padding: 15px;
  margin-top: 45px;
}
.location-info {
  font-size: 20px;
  font-weight: 600;
}

/* coming soon portion */
.coming-soon-container {
  margin: 0px 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 200px;
}

.middle-one {
  width: 40%;
}
.right-one {
  text-align: center;
}

/* sale offer portion  */
.sale-offer {
  justify-content: center;
  text-align: center;
  margin-top: 150px;
}

.position-container {
  margin: 100px 300px;
}
.box1 {
  position: relative;
  bottom: 600px;
  left: 770px;
}
.box3 {
  position: relative;
  top: 200px;
  right: 300px;
  width: 40%;
}

.box2 {
  position: relative;
  left: 932px;
  width: 30%;
}

/* portfolio portion  */
.portfolio-container {
  margin: 0px 300px;
  margin-top: 50px;
}

.portfolio-things img {
  width: 360px;
  margin: 32px;
}
/* newsletter portion  */
.newsletter-container {
  background: rgb(243, 210, 221);
  margin: 100px 300px;
  justify-content: center;
  text-align: center;
  padding: 100px;
  border-radius: 16px;
}

/* footer portion  */
.footer-banner {
  background: rgb(7, 2, 17);
  padding: 150px;
}
.footer-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.social-media {
  display: flex;
  justify-content: center;
}
.social-media img {
  padding: 50px;
}
.copyrights {
  display: flex;
  justify-content: space-around;
}

