* {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

/* Banner portion */

.banner-info {
  background: rgba(11, 2, 27, 0.384);
  height: 600px;
}
.banner {
  background-image: url(resources/Banner\ Image.png);
  margin: 0px 100px;
  border-radius: 16px;
}
.banner-line1 {
  font-weight: 400;
  font-size: 32px;
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 150px;
}
.banner-line2 {
  font-weight: 900;
  font-size: 60px;
  color: rgb(255, 255, 255);
  text-align: center;
}

/* 65% portion */
.all-categories {
  text-align: center;
  padding: 50px;
}
.discount {
  color: rgb(255, 0, 0);
  font-size: 70px;
  font-weight: 700;
}

/* Party portion */



.party-container {
  background-image: url(resources/Vectorrr.png);
  background-repeat: no-repeat;
  margin: 0px 100px;
  border-radius: 16px;
  display: flex;
  justify-content: space-around;
  height: 600px;
  align-items: center;
  margin-top: 120px;

}
.title-1 {
  font-weight: 700;
  font-size: 54px;
  color: rgb(255, 255, 255);
}
.title-description {
  font-weight: 400;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
}
